<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/main.css?id=e58ac4769f7adcf78601">
    </head>
    <body>
        <div class="h-screen">
            <div class="flex flex-col-reverse md:flex-row bg-indigo-lightest md:min-h-full">
                <div class="flex-grow w-full md:w-1/5 md:border-r md:border-indigo-lighter">
                    <div class="md:fixed">
                        <h1 class="text-2xl font-medium block px-8 mt-4 mb-4">
                            <a href="/" class="text-indigo-darker no-underline hover:no-underline">Founder</a>
                        </h1>
                        <hr class="block h-px w-full mt-2 mb-4 md:bg-indigo-lighter md:-mr-2">
                        <ul class="px-8 mt-6 text-base list-reset">
            <li class="leading-loose font-light">
            <a href="/general">General</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/production">Production</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/packages">Packages</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/docblocks-comments">Docblocks &amp; Comments</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/conditionals">Conditionals</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/configuration">Configuration</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/routing">Routing</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/controllers">Controllers</a>
        </li>
            <li class="leading-loose font-medium">
            <a href="/views">Views</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/validation">Validation</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/eloquent">Eloquent</a>
        </li>
            <li class="leading-loose font-light">
            <a href="/migrations-schema">Migrations &amp; Schema</a>
        </li>
    </ul>
                    </div>
                    <hr class="block md:hidden h-px w-full bg-indigo-lighter mt-2 mb-4">
                    <div class="mb-4 md:fixed md:pin-b md:pin-l md:ml-4 md:mb-2">
                        <a href="https://github.com/michaeldyrynda/founder-style" target="_blank" class="text-base font-light px-8 md:px-2">
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="bg-white w-full md:w-4/5 p-4">
                    <div class="container w-full px-4 md:w-4/5 md:px-none mx-auto">
                        <h1 class="text-2xl font-medium block mb-4 text-indigo">
                            Views
                        </h1>
                        <hr class="block h-px w-full bg-indigo-lighter text-left mt-2 mb-4">
                        <div class="markdown">
                            <p>Views are a means for displaying your data. You should always strive to keep any logic and calculations out of your views at all times, instead carrying out all of this implementation in your controllers. This leaves your views slim and simple to reason about.</p>
<p>Although Laravel supports templating with plain PHP files, Laravel's Blade templating engine is simple and powerful. It provides control structures that allow you to iterate over arrays of data that you might return from your database, conditionally display content, inherit from and extend other layouts, and even abstract reusable components.</p>
<h2>Naming and usage <a class="text-grey" name="naming-and-usage" href="#naming-and-usage">#</a></h2>
<p>View filenames must be <code>camelCase</code>.</p>
<p>View files should be named alongside your routes, wherever possible. It's easier to locate the view file for the <code>users.index</code> route if it is in <code>resources/views/users/index.blade.php</code> and not called <code>accounts.blade.php</code> or <code>userIndex.blade.php</code>.</p>
<pre><code class="language-php">class UsersController
{
    public function index()
    {
        return view('users.index');
    }
}</code></pre>
<pre><code>resources/
  views/
    users/
      index.blade.php</code></pre>
<h2>Blade Templates <a class="text-grey" name="blade-templates" href="#blade-templates">#</a></h2>
<p>Always use four spaces for indentation.</p>
<pre><code class="language-html">&lt;ul&gt;
    &lt;li&gt;&lt;a href="{{ route('users.show', $user) }}"&gt;Michael Dyrynda&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<p>Control structures should not be surrounded by, or contain spaces.</p>
<pre><code>// Good
@if($condition)
    Something good
@endif

// Bad
@if ($condition)
    Something bad
@elseif ( $someOtherCondition )
    Also bad
@endif</code></pre>
<h2>HTML Attributes <a class="text-grey" name="html-attributes" href="#html-attributes">#</a></h2>
<p>HTML attributes should always be written in the same order as described in <a href="https://twitter.com/mdo">Mark Otto's</a> <a href="http://codeguide.co/#html-attribute-order">code guide</a>.</p>
<p>When working with HTML elements that have many attributes, align the attributes one under the other for easier readability. Ensure the closing bracket sits on it's own line, underneath the opening tag's opening bracket.</p>
<p>This also aims to reduce unnecessary changes in version control if you were to change the last</p>
<pre><code class="language-html">&lt;a class="no-underline hover:underline text-indigo"
   href="/users/1"
   title="View user Michael Dyrynda"
&gt;
    Michael Dyrynda
&lt;/a&gt;</code></pre>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/app.js?id=e30f9a8006c930fc2816"></script>
</html>
